.noto-sans-jp-veryLight {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}

.noto-sans-jp-light {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.noto-sans-jp-mediumLight, section, h6, h5 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

.noto-sans-jp-medium, footer, section h1, h4, h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp-mediumHeavy, header > nav, h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}

.noto-sans-jp-heavy, header > h1, h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-sans-jp-veryHeavy {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 850;
  font-style: normal;
}

body {
  background-color: rgb(19, 19, 19);
  color: rgb(195, 132, 224);
  height: 100vh;
  margin: 0px;
}

h3 {
  color: rgb(195, 132, 224);
}

h4 {
  color: rgb(195, 132, 224);
}

h5 {
  color: rgb(195, 132, 224);
}

h6 {
  color: rgb(195, 132, 224);
}

ul, ol {
  list-style: none;
  padding: 0px;
}

p i {
  color: rgba(158, 158, 158, 0.5);
}
p b {
  color: rgb(191, 244, 248);
}
p strong {
  color: rgb(195, 132, 224);
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: auto repeat(1, 1fr) auto;
  grid-template-columns: 1fr;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: rgb(195, 132, 224);
}

header {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 54px;
  grid-template-columns: 1fr 400px 1fr;
  justify-items: center;
}
header > h1 {
  grid-row: 1/2;
  grid-column: 1/4;
}
header > nav {
  background-color: rgb(40, 40, 40);
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  align-items: center;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(195, 132, 224);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
header > nav > a, header > nav > a:visited, header > nav > a:hover {
  color: rgb(191, 244, 248);
  height: -moz-min-content;
  height: min-content;
}
header > nav > a:hover {
  font-size: 1.2rem;
}

main {
  grid-row: 2/3;
  grid-column: 1/2;
}

section {
  background-color: rgb(40, 40, 40);
  color: rgb(221, 221, 221);
  width: 1fr;
  min-height: 200px;
  padding: 20px;
  margin: 30px 5%;
  text-align: center;
  justify-items: center;
}
section table td {
  padding-right: 10px;
}
section table td > b {
  color: rgb(255, 252, 221);
}

footer {
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: rgb(40, 40, 40);
  color: rgba(158, 158, 158, 0.5);
  width: 1fr;
  min-height: 100px;
  margin: 30px 5%;
  text-align: center;
  align-content: center;
}

.highlightedBorder, section, footer {
  border-radius: 15px;
  border: 2px;
  border-style: solid;
  border-color: rgb(195, 132, 224);
}

.contacts > .contact {
  margin: 5px;
  display: flex;
  flex-flow: row nowrap;
}
.contacts > .contact p {
  margin: 10px 10px;
}

@media only screen and (max-width: 500px) {
  header {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr auto 1fr;
    width: 1fr;
  }
  header > nav {
    width: 200px;
    height: 220px;
    flex-flow: column wrap;
  }
  header > nav > a, header > nav > a:visited, header > nav > a:hover {
    color: rgb(191, 244, 248);
    height: -moz-min-content;
    height: min-content;
    font-size: 1.7rem;
  }
  header > nav > a:hover {
    font-size: 2rem;
  }
  .contacts > .contact {
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
  }
  .contacts > .contact p {
    margin: 5px;
  }
}/*# sourceMappingURL=style.css.map */